<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Client generator for greet-go test task</display-name>

  <listener>
    <listener-class>com.itechtopus.sshgenerator.listener.ApplicationManager</listener-class>
  </listener>

  <servlet>
    <servlet-name>parameters</servlet-name>
    <servlet-class>com.itechtopus.sshgenerator.servlet.ParametersServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>parameters</servlet-name>
    <url-pattern>/parameters</url-pattern>
  </servlet-mapping>


</web-app>
